<link rel="stylesheet" href="/css/home.css" />
<!-- <h1>Codeial / <%= title %></h1> -->

<section id="feed-posts">
  <% if(locals.user) { %>
  <form action="/posts/create" id="new-post-form" method="POST">
    <textarea
      name="content"
      cols="30"
      rows="3"
      placeholder="Type here......"
      required
    ></textarea>
    <input type="submit" value="Post" />
  </form>
  <% } %>

  <h2>Latest Posts</h2>
  <div id="posts-list-container">
    <ul>
      <% for(post of posts) { %>
      <li>
        <div>
          <small class="post-username">
            <%= post.user.name %>
          </small>
          <br />
          <div class="post-card">
            <%= post.content %>
          </div>
        </div>
        <div class="post-comments">
          <% if(locals.user) {%>
          <form action="/comments/create" method="POST">
            <input
              type="text"
              name="content"
              placeholder="Tap here to add comment..."
              required
            />
            <input type="hidden" name="post" value="<%= post._id %>" />
            <input type="submit" value="Add Comment" />
          </form>
          <% } %>

          <div class="post-comments-list">
            <ul id="post-comments-<%= post._id %>">
              <% for(comment of post.comments) { %>
              <p>
                <small>
                  <%= comment.user.name %>
                </small>
                <br />
                <%= comment.content %>
              </p>
              <% } %>
            </ul>
          </div>
        </div>
      </li>
      <% } %>
    </ul>
  </div>
</section>
